@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #356aff;
  --bg-color: #f0f0f0;
  --bg-light-color: #fff;
  --text-color: #111116;
  --text-header-color: #37373e;
  --text-light-color: #cdccd1;
  --primary-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --bg-color: #111116;
  --bg-light-color: #1c1b20;
  --text-color: #fff;
  --text-light-color: #58575c;
  --primary-text-color: #fff;
  --text-header-color: #cdccd1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 1200px;
  padding: 0 20px;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--bg-light-color);
}

.card .from-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card .heading {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light-color);
  white-space: nowrap;
}

.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-container .dropdown-toggle {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown-container .dropdown-toggle span {
  flex: 1;
  margin-left: 10px;
}

.dropdown-container.active .dropdown-toggle {
  border-radius: 20px 20px 0 0;
}

.dropdown-container .dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  padding: 10px 20px 20px 20px;
  z-index: 1;
  list-style: none;
  background-color: var(--bg-color);
  border-radius: 0 0 20px 20px;
  display: none;
  transition: all 0.3s;
}

.dropdown-container .dropdown-menu::-webkit-scrollbar {
  display: none;
}

.dropdown-container.active .dropdown-menu {
  display: block;
  max-height: 250px;
}

.dropdown-container .dropdown-menu li {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
}

.dropdown-container .dropdown-menu li.active {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.dropdown-container .dropdown-menu li:not(.active):hover {
  background-color: var(--bg-light-color);
}

.container .text-area {
  position: relative;
}

.container textarea {
  height: 340px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  border-radius: 10px;
}

.container .text-area .icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos al extremo de los ejes */
}

.container .text-area .icons-container span {
  margin-right: 25px;
  font-size: 1rem;
  color: var(--text-header-color);
}

.container .text-area .icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  font-size: 1.3rem;
  gap: 20px;
}

.container .text-area .icons i {
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s;
}

.container .text-area .icons i:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .container .card {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .card .from-text {
    flex-direction: column;
    font-size: 0.9rem;
    gap: 10px;
  }

  .container .text-area .icons-container span {
    margin-right: 5px;
    font-size: 0.9rem;
  }
}
